.
..
CalculatorUIKit.xcodeproj/project.xcworkspace/xcuserdata/rk.xcuserdatad/UserInterfaceState.xcuserstate
CalculatorUIKit.xcodeproj/xcuserdata/rk.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
CalculatorUIKit.xcodeproj/xcuserdata/rk.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
